{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Instagram{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Billabong&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    /></head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

<style>
{% block extra_css %}{% endblock %}
</style>
<body class="{% block body_class %}{% endblock %}">
    <div class="main-container">
        <!-- Include Left Sidebar Navigation -->
        {% include 'header.html' %}

        <!-- Main content area -->
        <main class="main-content">
            {% block content %}
            <!-- Default content goes here -->
            {% endblock %}
        </main>

        <!-- Include Right Sidebar - Only show on home page -->
        {% include 'footer.html' %}
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {% block scripts %}
    <!-- Page specific scripts go here -->
    {% endblock %}
</body>

</html>