{% extends 'pdf_generator/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group mb-2">
        <div class="form-group mb-2">
        <label for="id_name_event">Nombre del Evento:</label>
        <input
            type="text"
            name="name_event"
            id="id_name_event"
            class="form-control"
        >
    </div>

    <div class="form-group mb-2">
        <div class="form-group mb-2">
        <label for="id_event_acronyms">Siglas del Evento:</label>
        <input
            type="text"
            name="event_acronyms"
            id="id_event_acronyms"
            class="form-control"
        >
    </div>

    <div class="form-group mb-2">
        <label for="id_csv_file">Archivo CSV de Participantes:</label>
        <input
            type="file"
            name="csv_file"
            id="id_csv_file"
            class="form-control"
            accept=".csv"
            required
        >
    </div>

    <div class="form-group mb-2">
        <label for="id_svg_file">Plantilla SVG:</label>
        <input
            type="file"
            name="svg_file"
            id="id_svg_file"
            class="form-control"
            accept=".svg" required
        >
    </div>

    <button type="submit" class="btn btn-success">Send</button>
</form>
{% endblock %}