{% extends 'myapp/_base.html' %}

{% block title %}View Uploaded Images{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Uploaded Images</h1>
    
    <div class="row">
        {% for image in images %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ image.image.url }}" alt="Uploaded Image" class="card-img-top img-fluid" style="max-height: 300px; object-fit: cover;">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
